<div class="main-content home-pg">
<div style="height: 78px;background: #9CECFB;  /* fallback for old browsers */background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
  <app-header></app-header>
  </div>

<div class="main-content">
    <div class="container-fluid">
        <div class="crowd-home">
            <div>
                <div class="row">
                    <div class="col-md-7 ml-auto">
                        <div class="card" style="background: #fff;">
                            <div class="sleep-card">
                                <div class="row">
                                    
                                    <div class="bouts-card">
                                        <div class="row d-block">
                                            <div class="col-md-4">
                                                <img class="img" src={{tokenData?.tokenImage}}>
                                            </div>
                                            <div class="col-md-4 paddleft">
                                                <h4 class="margbottm0 margtop15">{{tokenData?.tokenName}}</h4>
                                               <span><a href={{website}} target="_blank">{{website}}</a></span>
                                            </div>
                                            <!-- <div class="col-md-4">
                                                <div class="ico-font-color">
                                                    <i class="fa fa-star fa-2x"></i>
                                                    <i class="fa fa-star fa-2x"></i>
                                                    <i class="fa fa-star fa-2x"></i>
                                                    <i class="fa fa-star fa-2x"></i>
                                                    <i class="fa fa-star-half-o fa-2x"></i>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                               <div class="row">
                                <div class="pro-txt">
                                    <h5 style="border-bottom: 1px solid lightgray;margin-top: 20px;">General Info</h5>
                                    <p style="word-wrap: break-word;">{{description? description : '--'}}</p>  

                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="card card-pricing" style="background: #000 !important;" *ngIf="videosStatus">
                         <iframe class="whitepaperiframe" [src]="videoUrlLink | safe" width="560" height="315" frameborder="0" allowfullscreen style="float: left;width: 100%;">
                        </iframe>
                         <!--    <iframe src="videoUrlLink | safe" width="560" height="315" frameborder="0"webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
                        </div>
                        <!-- Team Start -->
                        <div class="team-1" *ngIf="teamInfoStatus">
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-12 ml-auto mr-auto text-center">
                                        <h2>Team</h2>
                                    </div>
                                </div>
                                <div class="row justify-content-center" style="padding-bottom:  20px;">
                                    <div class="col-md-4 ml-1" style=" margin: 5px 0;" *ngFor="let team of teamInfo">
                                        <div class="card-profile card-plain" style="margin-bottom: 0px;">
                                            <div class="card-avatar" style="margin-bottom: 10px;">
                                                <a>                                              
                                                    <img class="img img-raised" src={{team.teamImage}}>
                                                </a>
                                            </div>
                                            <div class="card-body">

                                                <!-- <h4 class="card-title">Oliver Atticus</h4>
                                                <h6>Web Developer</h6> -->
                                                <h4 class="card-title" style="margin-bottom: 15px;">{{team.linkdinName}}</h4>
                                                <h6 ><strong>{{team.designation}}</strong></h6>
                                              <!--   <div class="card-footer">
                                                    <a href="#pablo" class="btn btn-icon btn-success btn-round"><i class="fa fa-linkedin"></i></a>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Road map -->
                        <div class="row" *ngIf="milestoneStatus">
                            <div class="col-md-8 ml-auto mr-auto text-center">
                                <h2 class="title">Milestone</h2>
                            </div>
                        </div>
                        <div class="row" *ngIf="milestoneStatus">
                            <div class="main-timeline w-100">
                                
                                <div class="timeline" *ngFor="let milestone of milestoneInfo">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-content">
                                        <span class="date">{{milestone?.milestonedate |  date:'MM/dd/yyyy'}}</span>
                                        <!-- <h5 class="title">Web Desginer</h5> -->
                                        <p class="description">
                                            {{milestone?.milestone1}}
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                        <!-- whitepaper -->
                        <div class="row " style="margin-bottom: 20px " *ngIf="whitepaperStatus">
                         <div class="col-sm-12">
                        <iframe class="whitepaperiframe" [src]='whitePaperImage | safe' width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="float: left;width: 100%;">
                        </iframe>
                        </div>
                     </div>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p></p>
                                    </div>
                                    <!-- 
                  <div class="modal-footer">
                   
                  </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- Team Start -->
                    </div>
    


                    <div class="col-md-5 mr-auto">
                <div class="card card-blog">
                    <div class="head-adn">
                        <div>
                            <div class="head-ico-img">
                                <p class="w-50 d-inline-block"> <i class="fa fa-thumbs-up text-info"></i> CROWDSALE</p> 
                                <p class="w-25  text-right d-inline-block float-right">{{ongoingsupply?.supply ? ongoingsupply?.supply :'--'}}&nbsp;{{tokenData?.tokenTicker}}</p>
                            </div>
                        </div>
                      
                            
                       
                    </div>
                    <div class="en-name1">
                        <p class="pull-left" style="font-weight: bold;">Status</p>
                        <p class="pull-right"><span style="font-weight: 500;"> {{allTokenStatus ? allTokenStatus: '--'}}</span>  </p>
                    </div>
                    <div class="en-name1">
                        <p class="pull-left" style="font-weight: bold;">Goal</p>
                        <p class="pull-right" style="font-weight: 500;">{{ongoingsupply?.supply ? ongoingsupply?.supply :'--'}}</p>
                    </div>
                    <div class="en-name1">
                        <p class="pull-left" style="font-weight: bold;">Crowdsale Details</p>
                       
            </div>
                <div class="en-name1">
                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active" *ngFor="let crowd of crowdSaleToken">
                                                <p class="pull" style="color: #795548;text-transform: uppercase;">
                                                    <b>{{crowd?.tierName}}</b>
                                                </p>
                                                <p class="pull" style="font-size: 12px;text-transform: uppercase;letter-spacing: 2px;color: #4CAF50;">{{crowd?.status ?crowd?.status : '--'}}</p>
                                                <p class="pull" style="text-align: center;color: #607D8B;">Start-Time :
                                                    <span style="color: #ff9800;">{{crowd?.endTime | date:'MM/dd/yyyy HH:mm' ? crowd?.endTime :'--'}}</span>
                                                </p>
                                                <p class="pull" style="margin-left: 0px;color: #607D8B;">End-Time :
                                                    <span style="color: #ff9800;"> {{crowd?.startTime | date:'MM/dd/yyyy HH:mm' ? crowd?.startTime :'--'}}</span>
                                                </p>
                                            </div>
                                            <div class="item " *ngFor="let crowd of crowdSaleToken">
                                                <p class="pull" style="color: #795548;text-transform: uppercase;">
                                                    <b>{{crowd?.tierName}}</b>
                                                </p>
                                                <p class="pull" style="font-size: 12px;text-transform: uppercase;letter-spacing: 2px;color: #4CAF50;">{{crowd?.status ?crowd?.status : '--'}}</p>
                                                <p class="pull" style="text-align: center;color: #607D8B;">Start-Time :
                                                    <span style="color: #ff9800;">{{crowd?.endTime | date:'MM/dd/yyyy HH:mm' ? crowd?.endTime :'--'}}</span>
                                                </p>
                                                <p class="pull" style="margin-left: 0px;color: #607D8B;">End-Time :
                                                    <span style="color: #ff9800;"> {{crowd?.startTime | date:'MM/dd/yyyy HH:mm' ? crowd?.startTime :'--'}}</span>
                                                </p>
                                            </div>

                                        </div>

                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="background-image: none;">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="background-image: none;">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                    <b>

                   
                    <div class="en-name1">
                        <p class="pull-left" style="font-weight: bold;">Price</p>
                        <p class="pull-right" style="font-weight: 500;">1 {{tokenData?.tokenTicker}} = {{tokenRate}} ETH</p>
                    </div>
                 
               <p><ngb-progressbar [showValue]="true" type={{progressType}} [value]="progress" [max]="100"></ngb-progressbar></p>
                    <div class="text-center">
                    <share-button [theme]="'modern-dark'"
                                                   [button]="'facebook'"
                                                   [size]="1"
                                                   [url]="socialUrl" 
                                                   [icon]="faFacebookSquare"
                                                  ></share-button>
                                                  <share-button [theme]="'modern-dark'"
                                                   [button]="'twitter'"
                                                   [size]="1"
                                                   [url]="socialUrl" 
                                                  ></share-button>
                                                  <share-button [theme]="'modern-dark'"
                                                   [button]="'google'"
                                                   [size]="1"
                                                   [url]="socialUrl" 
                                                  ></share-button>
                                                  <share-button [theme]="'modern-dark'"
                                                   [button]="'linkedin'"
                                                   [size]="1"
                                                   [url]="socialUrl" 
                                                  ></share-button>
                                                  <share-button [theme]="'modern-dark'"
                                                   [button]="'pinterest'"
                                                   [size]="1"
                                                   [url]="socialUrl" 
                                                  ></share-button> </div>
                    <div class="view text-center" style="font-weight: bold; font-size: 14px;">
                        Follow Us
                    </div>
                </b></div><b>
                <div class="card card-pricing">
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="">
                                <h3 class="margbottm10">Buy</h3>
                                <p class="margbottm0 p-3" style="border-top: 1px solid lightgray;">Price 1ETH = {{tokenData?.tokenRate}} {{tokenData?.tokenTicker}}</p>
                            </div>
                        </div>
                       
                        <div class="my-bt-card1">
                           <button (click)="gotToInvestToken(tokenData._id,tokenData.tokenName,tokenData.tokenAddress)"class="btn btn-info btn-round pull-center"  data-toggle="modal"  [disabled]="investDisable">Invest </button>
                       </div>
                         <div class="modal fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-notice">
                                      <div class="modal-content">
                                          <div class="modal-header md-hdr">
                                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                                          </div>
                                          <div class="modal-body text-center">
                                                <i class="material-icons" style="color: orange;font-size: 100px;">error_outline</i>
                                              <h5>Are you sure you want to do this? </h5>
                                              <h6>Please login first</h6>
                                          </div>
                                         
                                          <div class="modal-footer d-block" style="text-align: center;">
                                              <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                              <button type="button" data-dismiss="modal" class="btn btn-danger" (click)=logIngotToInvestToken()>Log In</button>
                                          </div>  
                                      </div>
                                  </div>
                              </div>
                    </div>
                </div>  
            </b></div>
                </div>
            </div>
        </div>
    </div>

</div>

 </div>
 <app-footer></app-footer>