<div class="main-content">
    <div class="container-fluid">
        <div class="header text-center">
            <h3 class="title">INVEST ICO</h3>
        </div>
        <div class="row d-block">
            <div class="centerr resp w-100">
                <div class="col-lg-7 col-md-7">
                    <input  class="form-control my-srch bg-white border rounded h-100 float-left border-info m-3" placeholder="Search.." type="text" [(ngModel)]="filterText">
                </div>
                <div class="col-lg-3 col-md-3">
                <div class="places-buttons eth-bx-head pb-0">
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="card card-stats eth-bx">
                            <div class="card-header" data-background-color="green">
                                <i class="fas fa-boxes h-auto w-auto" style="font-size: 20px;line-height: 33px;"></i>
                            </div>
                            <div class="card-content">
                                <p class="category">TOTAL</p>
                                <h3 style="margin-left: 100px; " class="card-title" *ngIf="allStatus"> {{viewlengthtokensList?viewlengthtokensList:'0'}}</h3>
                                <h3 style="margin-left: 100px; " class="card-title" *ngIf="ongoingStatus"> {{viewlengthtokensList ? viewlengthtokensList : '0'}}</h3>
                                <h3 style="margin-left: 100px; " class="card-title" *ngIf="upcommingStatus"> {{viewlengthtokensList ? viewlengthtokensList : '0'}}</h3>
                                <h3 style="margin-left: 100px; " class="card-title" *ngIf="expierStatus"> {{viewlengthtokensList ? viewlengthtokensList : '0'}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header text-center mt-5">
        <div class="nav-center">
            <ul class="nav nav-pills nav-pills-info nav-pills-icons" role="tablist">
                <li class="active">
                    <a role="tab" data-toggle="tab" (click)="all()" style="cursor:pointer;">
                    All 
                </a>
                </li>
                <li>
                    <a role="tab" data-toggle="tab" (click)="onGoing()" style="cursor:pointer;">
                     Ongoing
                </a>
                </li>
                <li>
                    <a role="tab" data-toggle="tab" (click)="upCommings()" style="cursor:pointer;">
                     Upcoming
                </a>
                </li>
                <li>
                    <a role="tab" data-toggle="tab" (click)="expier()" style="cursor:pointer;">
                     Expired
                </a>
                </li>
            </ul>
        </div>
    </div>
     
    <div class="row d-block centerr" *ngIf="allStatus">
    <div class="col-md-12 text-center">
        <div id="loader1"><img src="./assets/img/orange_circles.gif" width="500px" class="img-fluid">
        </div></div>
        <div class="col-md-12 text-center">
        <div class="text-center" *ngIf="noToken1">
            <img src="./assets/img/No-token-Found.png" width="500px" class="img-fluid">
        </div></div>
          <div class="col-md-12 text-center" *ngIf="nofoundStatus">
          <div class="text-center" *ngIf="(tokensList | filter: { tokenTicker: filterText, tokenName: filterText, tokenSupply: filterText}).length <= 0">
                <img src="./assets/img/No-token-Found.png" width="500px" class="img-fluid">
            </div>
          </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mt-5 float-left" *ngFor="let token of tokensList | filter:{ tokenTicker: filterText, tokenName: filterText, tokenSupply: filterText} : false ; let i=index">
            <div class="card card-product cards-bx" data-count="3">
                <div class="card-image" data-header-animation="true">
                    <a>
                            <img src={{token.tokenImage}} class="img-fluid" alt="">
                        </a>
                </div>
                <div class="card-actions" >
                    <button class="btn btn-green" type="submit" (click)="invest_ICO(token.id)">INVEST
                        <div class="ripple-container"></div>
                    </button>
                </div>
                
                <div class="card-content">
                    <h4 class="card-title">
                            <a >{{token.tokenName}}</a>
                        </h4>
                </div>
                <div class="card-footer bg-white">
                    <div class="price">
                         <span>Token Ticker</span>
                        <h4>{{token.tokenTicker}}</h4>
                       
                    </div>
                    <div class="price pull-right">
                         <span>Supply</span>
                        <h4>{{token.tokenSupply}}</h4>
                    </div>
                </div>
                <div class="card-footer bg-white p-0" *ngIf="token.ongingToken">
                    <div class="price w-100 pt-5 pb-5">
                <h5 class="centerr">  
                    <div class="timemrgin text-info " id="demoall{{i+1+'a'}}">
                        
                    </div> 
                </h5>
                            
            </div>
                </div>
               
                <div class="card-footer bg-white p-0" *ngIf="token.completeToken">
                    <div class="price w-100 p-5">
                        <p style="background:  #e91e63;" class="text-white w-100 font-weight-bold btn-lg btn p-3">Crowdsale Completed</p>
                    </div>
                </div>
                <div class="card-footer bg-white" *ngIf="token.upcommingToken">
                    <div class="price" style="width: 100%;text-align: center;    ">
                        <p style="font-size: 18px;padding-top: 16px;background:  #e91e63;padding:  10px;color: #fff;display:  block;font-weight: 700;">Upcoming</p>
                    </div>
                </div>
            </div>
        </div>
         
            <div class="col-md-12 text-center" style="margin-top: 20px;"  *ngIf="seemoreall ">
                <div class="showmrshow" *ngIf="!(tokensList | filter: { tokenTicker: filterText, tokenName: filterText, tokenSupply: filterText}).length <= 0">
                    <button class="btn btn-info" (click)="seeMore()">
                        <span class="btn-label"></span> See More
                    </button>
                </div>
            </div>
       
    </div>

    <div class="row d-block" *ngIf="ongoingStatus">
    <div class="col-md-12 text-center">
        <div id="loader2"><img src="./assets/img/orange_circles.gif" width="500px" class="img-fluid">
        </div></div>
        <div class="col-md-12 text-center">
        <div class="text-center" *ngIf="noToken2">
            <img src="./assets/img/No-token-Found.png" width="500px" class="img-fluid">
        </div></div>
         <div class="col-md-12 text-center" *ngIf="nofoundStatus">
      <div class="text-center" *ngIf="(onGoingList | filter: { tokenTicker: filterText, tokenName: filterText, tokenSupply: filterText}).length <= 0">
                <img src="./assets/img/No-token-Found.png" width="500px" class="img-fluid">
       </div>
       </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mt-5 float-left" *ngFor="let token of onGoingList | filter:{ tokenTicker: filterText, tokenName: filterText, tokenSupply: filterText} : false ; let i=index">
            <div class="card card-product cards-bx" data-count="3">
                <div class="card-image" data-header-animation="true">
                    <a>
                            <img src={{token.tokenImage}} class="img-fluid" alt="">
                        </a>
                </div>
                <div class="card-actions">
                    <button class="btn btn-green" type="submit" (click)="invest_ICO(token.id)">INVEST
                        <div class="ripple-container"></div>
                    </button>
                </div>
              
                <div class="card-content">
                    <h4 class="card-title">
                            <a href="#pablo">{{token.tokenName}}</a>
                        </h4>
                </div>
                <div class="card-footer bg-white">
                    <div class="price">
                         <span>Token Ticker</span>
                        <h4>{{token.tokenTicker}}</h4>
                    </div>
                    <div class="price pull-right">
                        <span>Supply</span>
                        <h4>{{token.tokenSupply}}</h4>
                       
                    </div>
                </div>
                <div class="card-footer bg-white p-0">
                  
                        <div class="price w-100 pt-5 pb-5">
                <h5 class="centerr"> 
                    <div class="timemrgin text-info "  id="demo{{i}}">
                        
                    </div> 
                </h5>
                            
            </div>
                </div>
               
            </div>
        </div>
        <div class="col-md-12 text-center" style="margin-top: 20px;"  *ngIf="seemoreOngoing">
                <div class="showmrshow" *ngIf="!(onGoingList | filter: { tokenTicker: filterText, tokenName: filterText, tokenSupply: filterText}).length <= 0">
                    <button class="btn btn-info" (click)="seeMore()">
                        <span class="btn-label"></span> See More
                    </button>
                </div>
            </div>
    </div>
    <div class="row d-block" *ngIf="upcommingStatus">
    <div class="col-md-12 text-center">
        <div id="loader3"><img src="./assets/img/orange_circles.gif" width="500px" class="img-fluid">
        </div></div>
        <div class="col-md-12 text-center">
        <div class="text-center" *ngIf="noToken1">
            <img src="./assets/img/No-token-Found.png" width="500px" class="img-fluid">
        </div></div>
        <div class="col-md-12 text-center" *ngIf="nofoundStatus">
         <div class="text-center" *ngIf="(upComming | filter: { tokenTicker: filterText, tokenName: filterText, tokenSupply: filterText}).length <= 0">
                <img src="./assets/img/No-token-Found.png" style="width:500px;margin-left: 2%;margin-top: 7%;">
       </div>
      </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mt-5 float-left" *ngFor="let token of upComming | filter:{ tokenTicker: filterText, tokenName: filterText, tokenSupply: filterText} : false | orderBy: 'endTime'">
            <div class="card card-product cards-bx" data-count="3">
                <div class="card-image" data-header-animation="true">
                    <a>
                            <img src={{token.tokenImage}} class="img-fluid" alt="">
                        </a>
                </div>
               
                <div class="card-actions" *ngIf="upcommingToken">
                    <button class="btn btn-green" type="submit" (click)="invest_ICO(token.id)">INVEST
                        <div class="ripple-container"></div>
                    </button>
                </div>
                <div class="card-content">
                    <h4 class="card-title">
                            <a href="#pablo">{{token.tokenName}}</a>
                        </h4>
                </div>
                <div class="card-footer bg-white">
                    <div class="price">
                         <span>Token Ticker</span>
                        <h4>{{token.tokenTicker}}</h4>
                        
                    </div>
                    <div class="price pull-right">
                       <span>Supply</span>
                        <h4>{{token.tokenSupply}}</h4>
                    </div>
                </div>               
                <div class="card-footer bg-white" *ngIf="upcommingToken">
                    <div class="price" style="padding: 0 20px;width: 100%;text-align: center;">
                        <p style="font-size: 18px;padding-top: 16px;background:  #e91e63;padding:  10px;color: #fff;display:  block;font-weight: 700;">Upcoming</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center" style="margin-top: 20px;"  *ngIf="seemoreUpcomming">
                <div class="showmrshow" *ngIf="!(upComming | filter: { tokenTicker: filterText, tokenName: filterText, tokenSupply: filterText}).length <= 0">
                    <button class="btn btn-info" (click)="seeMore()">
                        <span class="btn-label"></span> See More
                    </button>
                </div>
            </div>

    </div>
    <div class="row d-block" *ngIf="expierStatus">
    <div class="col-md-12 text-center">
        <div id="loader4"><img src="./assets/img/orange_circles.gif" width="500px" class="img-fluid">
        </div></div>
        <div class="col-md-12 text-center">
        <div class="text-center" *ngIf="noToken4">
            <img src="./assets/img/No-token-Found.png" width="500px" class="img-fluid">
        </div></div>
        <div class="col-md-12 text-center" *ngIf="nofoundStatus">
        <div class="text-center" *ngIf="(expierList | filter: { tokenTicker: filterText, tokenName: filterText, tokenSupply: filterText}).length <= 0">
                <img src="./assets/img/No-token-Found.png" style="width:500px;margin-left: 2%;margin-top: 7%;">
       </div>
       </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mt-5 float-left" *ngFor="let token of expierList | filter:{ tokenTicker: filterText, tokenName: filterText, tokenSupply: filterText} : false | orderBy: 'endTime'">
            <div class="card card-product cards-bx" data-count="3">
                <div class="card-image" data-header-animation="true">
                    <a>
                            <img src={{token.tokenImage}} class="img-fluid" alt="">
                        </a>
                </div>
                
                <div class="card-actions" >
                    <button class="btn btn-green" type="submit" (click)="invest_ICO(token.id)">INVEST
                        <div class="ripple-container"></div>
                    </button>
                </div>
                <div class="card-content">
                    <h4 class="card-title">
                            <a >{{token.tokenName}}</a>
                        </h4>
                </div>
                <div class="card-footer bg-white">
                    <div class="price">
                       <span>Token Ticker</span>
                        <h4>{{token.tokenTicker}}</h4>
                    </div>
                    <div class="price pull-right">
                          <span>Supply</span>
                        <h4>{{token.tokenSupply}}</h4>
                       
                    </div>
                </div>
                
                <div class="card-footer bg-white" *ngIf="completeToken">
                    <div class="price" style="padding: 0 20px;width: 100%;text-align: center;margin: 5% 0;">
                        <p style="font-size: 18px;padding-top: 16px;background:  #e91e63;padding:  10px;color: #fff;display:  block;font-weight: 700;">Crowdsale Completed</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center" style="margin-top: 20px;"  *ngIf="seemoreExpired">
                <div class="showmrshow" *ngIf="!(expierList | filter: { tokenTicker: filterText, tokenName: filterText, tokenSupply: filterText}).length <= 0">
                    <button class="btn btn-info" (click)="seeMore()">
                        <span class="btn-label"></span> See More
                    </button>
                </div>
            </div>
    </div>
</div>

