<div class="main-content">
    <div class="container-fluid">
        <div class="row snd-tkn">
            <div class="col-md-12">
                <div class="header text-center">
                    <h3 class="title" style="padding-top: 0;">Manage Token</h3>
                </div>
                <div class="card wizard-card ">
                    <div class="row">
                        <div class="col-lg-4 col-md-5 col-sm-6">
                            <div class="card-header">
                                <h4 class="card-title text-info">{{ethBalance ? ethBalance : '0.00'}}
                                <small class="category text-info">Ethereum</small>
                            </h4>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-6">
                            <div class="header text-center" style="margin-bottom:0;">
                                <h3 class="title">Send</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-right: 0;">
                        <div class="col-lg-4 col-md-5 col-sm-6">
                            <div class="left-scroll">
                                <ul class="nav nav-pills nav-pills-icons nav-pills-white nav-stacked " role="tablist">
                                    <!-- <li *ngFor="let token of tokenList" (click)="getContractAddressByToken(token.tokenInfo.address)"> -->
                                    <li *ngFor="let token of tokenList" class="w-100" (click)="getContractAddressByToken(token.address)">
                                        <a data-toggle="tab" href="#dashboard-2" role="tab">
                                            <div class="row">
                                                <!-- <div class="col-md-4">
                                                    <div class="picture">
                                                        <img class="picture-src img-responsive" id="wizardPicturePreview" src="assets/img/1.png" title="" style="padding-top: 16px;">
                                                    </div>
                                                </div> -->
                                                <!-- <div class="col-md-12">
                                                    <h3>{{token.tokenInfo.name}}</h3> <span>{{token.tokenBalance}} ETH</span>
                                                </div> -->
                                                <div class="col-md-12">
                                                    <h3>{{token.tokenName}}</h3> <span>{{token.balance}} ETH</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="nav nav-pills nav-pills-icons nav-pills-rose nav-stacked" role="tablist" *ngIf="noTokenFound">
                                    <li class="active">
                                        <img class="img" src="assets/img/No-token-Found.png" title="">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-6">
                            <div class="tab-content card">
                                <div class="tab-pane active" id="dashboard-2">
                                    <div class="card-content" style="text-align: center;">
                                        <form [formGroup]="sendTokenForm" class="form-horizontal ng-untouched ng-pristine ng-valid">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons text-info">business</i>  
                                                        </span>
                                                        <div class="form-group label-floating" style="text-align: left;">
                                                            <label>Address
                                                                <!--  <sup  style="color: red">*</sup> -->
                                                            </label>
                                                            <input (change)="enteronsubmit($event)" class="form-control ng-untouched ng-pristine ng-valid" formControlName="toAddress" [(ngModel)]="sendTokenDetail.toAddress" type="text" value="" style="border: 0px solid !important;border-bottom: 1px solid #e6e6e6 !important">
                                                            <div style="color:red" *ngIf="!sendTokenForm.controls['toAddress'].valid&&sendTokenForm.controls['toAddress'].dirty">
                                                                <span *ngIf="sendTokenForm.controls['toAddress'].errors['required']" class="small">Address is required</span>
                                                                <span *ngIf="sendTokenForm.controls['toAddress'].errors['pattern']" class="small">Address is invalid</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-11">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons text-info">account_balance_wallet</i>
                                                        </span>
                                                        <div class="form-group label-floating" style="text-align: left;">
                                                            <label>Amount
                                                                <!--  <sup  style="color: red">*</sup> -->
                                                            </label>
                                                            <input class="form-control ng-untouched ng-pristine ng-valid" (keypress)="eventHandler($event)" formControlName="amount" [(ngModel)]="sendTokenDetail.amount" type="number" value="" min="1" style="border: 0px solid !important;border-bottom: 1px solid #e6e6e6 !important">
                                                            <div style="color:red" *ngIf="!sendTokenForm.controls['amount'].valid&&sendTokenForm.controls['amount'].dirty">
                                                                <span *ngIf="sendTokenForm.controls['amount'].errors['required']">Amount is required</span>
                                                                <span *ngIf="sendTokenForm.controls['amount'].errors['pattern']">Amount should be exceded 10<sup>20</sup> </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button data-toggle="modal" (click)="checkAddress()" class="btn btn-info"  [disabled]="!sendTokenForm.valid">
                                                <span class="btn-label">
                                                   <!--  <i class="material-icons">check</i> -->
                                                </span> Send
                                            </button>
                                            <!-- notice modal -->
                                            <div class="modal fade" id="noticeModa1232" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-notice">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title font-weight-normal" id="myModalLabel">Send Token</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                                                            
                                                        </div>
                                                        <div class="modal-body m-3 pt-4">
                                                            <div class="instruction">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class=" modalch2" style="margin-bottom: 0;">
                                                                            <form [formGroup]="passwordForm" class="form-horizontal ng-untouched ng-pristine ng-valid">
                                                                                <div class="card-content">
                                                                                    <div class="row">
                                                                                        <div class="col-sm-12">

                                                                                        <label class="float-left">Password</label>
                                                                                            <div class="form-group label-floating is-empty">
                                                                                                <label class="control-label"></label>
                                                                                                <input (keypress)="enteronsend($event)" class="form-control" formControlName="password" [(ngModel)]="sendTokenDetail.password" type="password" value="">
                                                                                                <div style="color:red" *ngIf="!passwordForm.controls['password'].valid&&passwordForm.controls['password'].dirty">
                                                                                                    Password is required
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-sm-12">
                                                                                            <button type="button" class="btn btn-info btn-round" data-dismiss="modal" [disabled]="!passwordForm.valid" (click)="sendTokens()">SEND</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!--<div class="traction-btm ">
                                            <div class="content">
                                                <div class="container-fluid">
                                                    <div class="header text-center">
                                                        <h3 class="title">Transaction History</h3> </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="card card-pricing " style="height: auto;padding: 5px 0;">
                                                                <div class="card-content">
                                                                    <div class="row">
                                                                        <div class="col-md-3 col-sm-4" style="padding-top: 9px;padding-left: 20px;">
                                                                            <div class="   picture" style="margin: 0 auto !important;"> <img class="picture-src img-responsive" id="wizardPicturePreview" src="assets/img/1.png" title=""> </div>
                                                                        </div>
                                                                        <div class="col-md-5 col-sm-4" col-md-offset-2="">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <h2 class="card-title txt2">1zxjfwejwefbwejwejwj...</h2> </div>
                                                                                <div class="col-md-5">
                                                                                    <h3 class="card-title txt3">Confirmed</h3></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4 col-sm-4">
                                                                            <div class="row">
                                                                                <div class="col-md-5 col-md-offset-7">
                                                                                    <h3 class="txt1">Date</h3> </div>
                                                                                <div class="col-md-12">
                                                                                    <h2 class="card-title txt4">0.01ETH</h2> </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>