<div class="main-content">
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-md-12" style="display: flex;justify-content: center;align-items: center;">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="p-0 border-0 m-0  mr-5">
                    <div class="card card-stats eth-bx m-0">
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons" style="font-size: 28px;line-height: 31px;width: auto;height: auto;">people</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Investor</p>
                            <h3 class="card-title" style="margin-left: 116px; ">{{investerLength.length}}</h3>
                        </div>
                    </div>
                </button>
                <button class="p-0 border-0 m-0">
                    <div class="card card-stats eth-bx m-0">
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons" style="font-size: 28px;line-height: 31px;width: auto;height: auto;">people</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Business</p>
                            <h3 class="card-title" style="margin-left: 116px; ">{{businessLength.length}}</h3>
                        </div>
                    </div>
                </button>       
              </div> 
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="green">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Users</h4>
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                <div class="material-datatables table-responsive" *ngIf="!tabeldata2">
                            <table id="tabledata_id" class="table w-100 table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead class="w-100">
                                    <tr>
                                        <th>SN</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Type</th>
                                        <th>Current Status</th>
                                        <th class="disabled-sorting text-right">Status</th>
                                    </tr>
                                </thead>
                              
                                <tbody class="w-100">
                                    <tr *ngFor="let row of userData;let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{row.firstName}} {{row.lastName}}</td>
                                        <td>{{row.verifyEmail.email}}</td>
                                        <td>{{row.accountType}}</td>
                                        <td>
                                            <p style="color:green" *ngIf="row.active">
                                                Online
                                            </p>
                                            <p *ngIf="!row.active">
                                                {{row?.lastSeen | datex:'LL'}}
                                            </p>
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-info" *ngIf="!row.isDeleted" (click)="togle(row._id)">
                                                <span class="btn-label">                               
                                        </span> Enable
                                            </button>
                                            <button class="btn btn-danger" *ngIf="row.isDeleted" (click)="togle(row._id)">
                                                <span class="btn-label">                               
                                        </span> Disable
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                </div>


                <div class="material-datatables table-responsive" *ngIf="tabeldata2">
                            <table id="datatable111" class="table w-100 table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead w-100>
                                    <tr>
                                        <th>Sno</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Type</th>
                                        <th>Current Status</th>
                                        <th class="disabled-sorting text-right">Status</th>
                                    </tr>
                                </thead>
                               
                                <tbody w-100>
                                    <tr *ngFor="let row of userData;let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{row.firstName}} {{row.lastName}}</td>
                                        <td>{{row.verifyEmail.email}}</td>
                                        <td>{{row.accountType}}</td>
                                        <td>
                                            <p style="color:green" *ngIf="row.active">
                                                Online
                                            </p>
                                            <p *ngIf="!row.active">
                                                {{row?.lastSeen | datex:'LL'}}
                                            </p>
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-info" *ngIf="!row.isDeleted" (click)="togle(row._id)">
                                                <span class="btn-label">                               
                                        </span> Enable
                                            </button>
                                            <button class="btn btn-danger" *ngIf="row.isDeleted" (click)="togle(row._id)">
                                                <span class="btn-label">                               
                                        </span> Disable
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>