<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card">
                    <form [formGroup]="updatePasswordForm" (ngSubmit)="updateUserPassword()" class="form-horizontal">
                        <div class="" data-background-color="" style="background: #18d26e;margin-top:-25px;">
                            <h4 class="card-title" style="font-weight: 400;text-align: center;">Change Your Account Password</h4>
                        </div>
                        <div class="card-content" style="text-align: center;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock</i>  
                                        </span>
                                        <div class="form-group label-floating  lft-rff">
                                            <label>Current Password
                                                <!--  <sup  style="color: red">*</sup> -->
                                            </label>
                                            <input class="form-control ng-untouched ng-pristine ng-valid" formControlName="currentPassword" [(ngModel)]="updatePassword.currentPassword" required type="password" value="" style="border: 0px solid !important;border-bottom: 1px solid #e6e6e6 !important">
                                            <div style="color:red" *ngIf="!updatePasswordForm.controls['currentPassword'].valid&&updatePasswordForm.controls['currentPassword'].dirty">
                                                Current Password is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_open</i>
                                        </span>
                                        <div class="form-group label-floating  lft-rff">
                                            <label>New Password
                                                <!--  <sup  style="color: red">*</sup> -->
                                            </label>
                                            <input class="form-control ng-untouched ng-pristine ng-valid" formControlName="newPassword" [(ngModel)]="updatePassword.newPassword" required type="password" value="" style="border: 0px solid !important;border-bottom: 1px solid #e6e6e6 !important">
                                            <div style="color:red" *ngIf="!updatePasswordForm.controls['newPassword'].valid&&updatePasswordForm.controls['newPassword'].dirty">
                                                <span *ngIf="updatePasswordForm.controls['newPassword'].errors['required']">Password is required</span>
                                                <span *ngIf="updatePasswordForm.controls['newPassword'].errors['minlength']">NewPassword must be atleast 6 characters</span>
                                                <span *ngIf="updatePasswordForm.controls['newPassword'].errors['pattern']&&!updatePasswordForm.controls['newPassword'].errors['minlength']">Password must contain one lowercase and one uppercase letter,number and special characters!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <div class="form-group label-floating  lft-rff">
                                            <label>Confirm Password
                                                <!--  <sup  style="color: red">*</sup> -->
                                            </label>
                                            <input class="form-control ng-untouched ng-pristine ng-valid" formControlName="confirmNewPassword" [(ngModel)]="updatePassword.confirmNewPassword" required type="password" value="" style="border: 0px solid !important;border-bottom: 1px solid #e6e6e6 !important">
                                            <div style="color:red" *ngIf="!updatePasswordForm.controls['confirmNewPassword'].valid&&updatePasswordForm.controls['confirmNewPassword'].dirty">
                                            </div>
                                            <div *ngIf="updatePasswordForm.controls['confirmNewPassword'].dirty&&updatePasswordForm.hasError('mismatchedPasswords')"><span style="color:red;">New password and confirm new password does not match</span></div>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                        
                        <button class="btn btn-success" style="background:#18d26e;font-weight:500;" [disabled]="!updatePasswordForm.valid">
                            <span class="btn-label">
                                <!-- <i class="material-icons">check</i> -->
                            </span> Update Password
                        </button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>