<div class="wrapper wrapper-full-page">
    <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </nav>
    <div class="full-page register-page" filter-color="black">
        <div class="container">
            <div class="row centerr">
                <div class="col-md-10">
                    <div class="card card-signup">
                        <a style="margin-top: 0px;float:  left;width:  100%;text-align: center;"><img [routerLink]="['/home']" src="assets/img/tokenology-logo_1.png" style="cursor: pointer;width:40%"></a>
                        <h3 class="card-title text-center">Sign Up</h3>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <a style="cursor: pointer;" (click)="invester()">
                                    <p class="text-center" style="padding-top: 45px;"><i class="material-icons bg-info snp-hm">attach_money</i></p>
                                    <h4 class="text-center snp-tx">Investors</h4>
                                </a>
                            </div>
                            <div class="col-md-6 vl">
                                <a style="cursor: pointer;" (click)="corporate()">
                                    <p class="text-center" style="padding-top: 45px;">
                                        <!-- <img src="./assets/img/inverter.png" style="width: 152px;"> --><i class="material-icons bg-info snp-hm">business_center</i></p>
                                    <h4 class="text-center snp-tx">Corporate</h4>
                                </a>
                            </div>
                            <div class="col-md-12 text-center p-4">
                                <a  align="right" class="text-info font-weight-normal text-center" [routerLink]="['/login']">Already have an account?</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center">
            <div class="container">
                <p class="copyright">
                    &copy; {{year }}
                    <a>Kryptual</a>, All rights reserved
                </p>
            </div>
        </footer>
        <div class="full-page-background"></div>
        <!-- <div class="full-page-background" style="background-image: url(./assets/img/register.jpeg) "></div> -->
        <style>
       .vl{
            border-left: 4px solid #17a2b8;
            height: 252px;
        }
        </style>
    </div>
</div>
