<div  class="main-content">
  <div  class="container-fluid">
    <div  class="card p-5">
      <div  class="card-header card-header-icon" data-background-color="green">
<i class="material-icons">view_list</i>
      </div>
      <h3  class="heading-main">Currency List</h3>
      <div  class="card-content">
        <div  class="row ">
          <div  class="col-md-12">

            <div  class="table-responsive">
              <table  class="table table-bordered">
                <thead >
                  <tr >
                    <th  scope="col">Sr.</th>
                    <th  scope="col">Currency</th>
                    <th  scope="col">Name</th>
                    <th  scope="col">Currency Withdraw Enable/Disable</th>
                  </tr>
                </thead>
                <tbody >
                  <tr >
                    <th  scope="row">1</th>
                    <td >BTC</td>
                    <td >Bitcoin
                    </td>
                    <td >
                      <label  class="switch">
                        <input  checked="" type="checkbox">
                        <span  class="slider round"></span>
                      </label>
                    </td>
                  </tr>
                  <tr >
                    <th  scope="row">2</th>
                    <td >ETH</td>
                    <td >Ethereum
                    </td>
                    <td >
                      <label  class="switch">
                        <input  checked="" type="checkbox">
                        <span  class="slider round"></span>
                      </label>
                    </td>
                  </tr>
                  <tr >
                    <th  scope="row">3</th>
                    <td >BTR</td>
                    <td >Bitwire
                    </td>
                    <td >
                      <label  class="switch">
                        <input  checked="" type="checkbox">
                        <span  class="slider round"></span>
                      </label>
                    </td>
                  </tr>
                  <tr >
                    <th  scope="row">4</th>
                    <td >BCH</td>
                    <td >Bitcoin Cash
                    </td>
                    <td >
                      <label  class="switch">
                        <input  checked="" type="checkbox">
                        <span  class="slider round"></span>
                      </label>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>