<div class="main-content">
  <div class="container-fluid">
    <div class="card p-5">
      <div class="card-header card-header-icon" data-background-color="green">
<i class="material-icons">settings</i>
      </div>
      <h3 class="heading-main">Settings</h3>
      <div class="card-content">
        <div class="row ">
          <div class="col-md-12">
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Sr.</th>
        <th scope="col">Switchs</th>
        <th scope="col">Action</th>
        <th scope="col">Enabled/Disabled</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>User sign up </td>
        <td>
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </td>
        <td>
          <button type="button" class="btn btn-success">Enabled</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Withdraw</td>
        <td>
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </td>
        <td>
          <button type="button" class="btn btn-success">Enabled</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Exchange</td>
        <td>
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </td>
        <td>
          <button type="button" class="btn btn-success">Enabled</button>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Maintenance Mode</td>
        <td>
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </td>
        <td>
          <button type="button" class="btn btn-danger">Disabled</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>