<div class="main-content">
  <div class="">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-icon" data-background-color="blue">
<i class="material-icons">person</i>
                  </div>
                  <div class="card-content">
                        <h4 class="heading-main1">User Details
                      </h4>
                      <div class="toolbar">
                          <!--        Here you can write extra buttons/actions for the toolbar              -->
                      </div>
                      <div class="material-datatables  table-responsive">
                          <table id="datatablesexchange" class="table  table-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                              <thead>
                                  <tr>
                                    <th>{{ dataTable.headerRow[0] }}</th>
                                    <th>{{ dataTable.headerRow[1] }}</th>
                                    <th>{{ dataTable.headerRow[2] }}</th>
                                    <th>{{ dataTable.headerRow[3] }}</th>
                                    <th>{{ dataTable.headerRow[4] }}</th>
                                    <th>{{ dataTable.headerRow[5] }}</th>
                                    <th>{{ dataTable.headerRow[6] }}</th>
                                    <th>{{ dataTable.headerRow[7] }}</th>
                                    <th>{{ dataTable.headerRow[8] }}</th>
                                    <th>{{ dataTable.headerRow[9] }}</th>
                                    <th>{{ dataTable.headerRow[10] }}</th>
                                    <th>{{ dataTable.headerRow[11] }}</th>
                                    <th class="disabled-sorting text-center">{{ dataTable.headerRow[12] }}</th>
                                  </tr>
                              </thead>
                              <tfoot>
                                  <tr>
                                    <th>{{ dataTable.headerRow[0] }}</th>
                                    <th>{{ dataTable.headerRow[1] }}</th>
                                    <th>{{ dataTable.headerRow[2] }}</th>
                                    <th>{{ dataTable.headerRow[3] }}</th>
                                    <th>{{ dataTable.headerRow[4] }}</th>
                                    <th>{{ dataTable.headerRow[5] }}</th>
                                    <th>{{ dataTable.headerRow[6] }}</th>
                                    <th>{{ dataTable.headerRow[7] }}</th>
                                    <th>{{ dataTable.headerRow[8] }}</th>
                                    <th>{{ dataTable.headerRow[9] }}</th>
                                    <th>{{ dataTable.headerRow[10] }}</th>
                                    <th>{{ dataTable.headerRow[11] }}</th>
                                    <th class="disabled-sorting text-center">{{ dataTable.headerRow[12] }}</th>
                                  </tr>
                              </tfoot>
                              <tbody>
                                  <tr *ngFor="let row of dataTable.dataRows">
                                      <td>{{row[0]}}</td>
                                      <td>{{row[1]}}</td>
                                      <td>{{row[2]}}</td>
                                      <td>{{row[3]}}</td>
                                      <td class="text-center">
                                        <button class="btn btn-success btn-sm pl-1 pr-1"  >
                                            Active
                                        </button>
                                    </td>
                                      <td>{{row[5]}}</td>
                                      <td class="text-center">
                                      <button class="btn btn-danger btn-sm pl-1 pr-1" >
                                            Not Filled
                                        </button>
                                    </td>
                                    <td class="text-center">
                                      <button class="btn btn-danger btn-sm pl-1 pr-1" >
                                          Deactive
                                         
                                      </button>
                                      <button class="btn  btn-success btn-icon edit btn-sm rounded pl-1 pr-1"  >
                                        <i class="material-icons">lock</i>
                                    </button>
                                  </td>
                                  <td class="text-center">
                                    <button class="btn  btn-warning btn-icon edit btn-sm rounded pl-1 pr-1"  >
                                        <i class="material-icons">zoom_in</i>
                                    </button>
                                </td>
                                <td class="text-center">
                                  <button class="btn  btn-success btn-icon like btn-sm rounded pl-1 pr-1 text-center">
                                      <i class="material-icons">zoom_in</i>
                                  </button>
                              </td>
                                      
                                <td class="text-center">
                                  <button class="btn  btn-success btn-icon like btn-sm rounded pl-1 pr-1 text-center">
                                      <i class="material-icons">zoom_in</i>
                                  </button>
                              </td>
                                      
                                <td class="text-center">
                                  <button class="btn  btn-info btn-icon like btn-sm rounded pl-1 pr-1"  >
                                      <i class="material-icons">lock</i>
                                  </button>                                
                                  <button class="btn  btn-danger btn-icon like btn-sm rounded pl-1 pr-1"  >
                                      <i class="material-icons">lock</i>
                                  </button>
                              
                              </td>
                                      
                                <td class="text-center">
                                  <button class="btn  btn-success btn-icon like btn-sm rounded pl-1 pr-1 ">
                                      <i class="material-icons">file_copy</i>
                                  </button>
                              </td>                                     
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->
  </div>
</div>