<div class="main-content">
  <div class="container-fluid">
    <div class="card p-5">
      <div class="card-header card-header-icon" data-background-color="green">
<i class="material-icons">details</i>
      </div>
<h3 class="heading-main">Market Detail
</h3>
      <div class="card-content">
<div class="row">
  <div class="col-md-6">
    <h3 class="heading-main1">Bid Detail</h3>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Sr.</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>0.00030000</td>
            <td>0.00200000</td>
            <td>@0.00000060</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>0.00030000</td>
            <td>0.00200000</td>
            <td>@0.00000060</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>0.00030000</td>
            <td>0.00200000</td>
            <td>@0.00000060</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>0.00030000</td>
            <td>0.00200000</td>
            <td>@0.00000060</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <h3 class="heading-main1">Market Detail</h3>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Sr.</th>
            <th scope="col">Pair</th>
            <th scope="col">Last Price</th>
            <th scope="col">Change</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>0.00030000</td>
            <td>0.00200000</td>
            <td>@0.00000060</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>0.00030000</td>
            <td>0.00200000</td>
            <td>@0.00000060</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>0.00030000</td>
            <td>0.00200000</td>
            <td>@0.00000060</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>0.00030000</td>
            <td>0.00200000</td>
            <td>@0.00000060</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="w-100"></div>
  <div class="col-md-6">
    <h3 class="heading-main1 pt-4">Ask Detail</h3>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Sr.</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
            <th scope="col">Total</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>0.00030000</td>
            <td>0.00200000</td>
            <td>@0.00000060</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>0.00030000</td>
            <td>0.00200000</td>
            <td>@0.00000060</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>0.00030000</td>
            <td>0.00200000</td>
            <td>@0.00000060</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>0.00030000</td>
            <td>0.00200000</td>
            <td>@0.00000060</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <h3 class="heading-main1 pt-4">Trade History</h3>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Sr.</th>
            <th scope="col">Amount</th>
            <th scope="col">Rate</th>
            <th scope="col">Time</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>0.00030000</td>
            <td>0.00200000</td>
            <td>@0.00000060</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>0.00030000</td>
            <td>0.00200000</td>
            <td>@0.00000060</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>0.00030000</td>
            <td>0.00200000</td>
            <td>@0.00000060</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>0.00030000</td>
            <td>0.00200000</td>
            <td>@0.00000060</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>0.00200000</td>
            <td>0.00200000</td>
            <td>@0.00000400</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
      </div>

    </div>
  </div>
</div>