.btn {
    font-size: 9px !important;
}

th {
    font-size: 12px !important;
    text-align: center;
    border-bottom: 1px solid #ddd !important;
    font-weight: 700 !important;
}

th:nth-child(odd) {
    border-right: 1px solid #ddd !important;
}

th:nth-child(even) {
    border-right: 1px solid #ddd !important;
}

td {
    font-size: 12px !important;
    text-align: center;
}

.heading-main {
    font-size: 22px;
    padding-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0%;
    margin-bottom: 20px;
}

.table-bordered {
    border: 1px solid #ddd !important;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    padding-bottom: 14px;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #eee;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #3297f7;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}