<div class="main-content home-pg">
  <app-header></app-header>
        <div class="main-home">
        <div class="wrapper" style="background: linear-gradient(60deg, #66bb6a, #43a047);">
            <div class="cd-section" id="headers">
                <!--     *********     HEADER 1      *********      -->
                <div style="width: 100%; height: 610px;">
                    <div class="frame">
                        <div class="plane-container">
                            <a target="_blank">
                                <img  style ="max-width:90% !important" class="plane-image" src="../assets/img/plain.png" alt="kryptual" />
                            </a>
                        </div>
                        <div class="my-type text-center">
                            <h1 class="text-center">
                                <p class="typewrite text-center" data-period="2000" data-type='[ "Create Your ICO.", "No Coding Needed.", "Raise With Kryptual" ]'>
                                    <span class="wrap"></span>
                                </p>
                            </h1>
                        </div>
                    </div>
                    <div class="clouds">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="762px" height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve" class="cloud big front slowest">
                            <path fill="#FFFFFF" d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
                                c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
                                 C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
                                 S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
                        </svg>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="762px" height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve" class="cloud distant smaller">
                            <path fill="#FFFFFF" d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
                                c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
                                C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
                                S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
                        </svg>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="762px" height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve" class="cloud small slow">
                            <path fill="#FFFFFF" d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
                                c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
                                C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
                                S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
                        </svg>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="762px" height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve" class="cloud distant super-slow massive">
                            <path fill="#FFFFFF" d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
                                c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
                                C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
                                S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
                        </svg>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="762px" height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve" class="cloud slower">
                            <path fill="#FFFFFF" d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
                                 c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tkn-list card text-center">
        <div class="container-fluid" style="padding-left: 0.1px;padding-right: 0.1px;">
            <div class="row centerr" style="margin: 0 0 30px 0;">
                <div class="col-md-12">
                    <div class="nav-center">
                        <ul class="nav nav-pills nav-pills-warning nav-pills-icons" role="tablist">
                            <li class="active">
                                <a role="tab" data-toggle="tab" (click)="all()" style="cursor:pointer;">
                                               All
                                </a>
                            </li>
                            <li>
                                <a role="tab" data-toggle="tab" (click)="onGoing()" style="cursor:pointer;">
                                                Ongoing
                                           </a>
                            </li>
                            <li>
                                <a role="tab" data-toggle="tab" (click)="upCommings()" style="cursor:pointer;">
                                                Upcoming
                               </a>
                            </li>
                            <li>
                                <a role="tab" data-toggle="tab" (click)="expier()" style="cursor:pointer;">
                                                Expired
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div id="loader1"><img src="./assets/img/orange_circles.gif" style="width: 20%;height: 55%;margin-left: 0%;margin-top: 2%;">
                </div>
                <div class="text-center" *ngIf="noToken1">
                    <img src="assets/img/No-token-Found.png" alt="Error" >
                </div>
                <div class="col-md-12 ">
                    <div class="pricing-page ">
                        <div class="row animated fadeInLeft ">
                            <div class="col-md-3" *ngFor="let token of tokensList; let i=index">

                                <div class="card card-pricing card-raised" style="margin-top: 0;height: 345px;">
                                   
                                        <div class="img-bx icon-rose">
                                            <div class="img-in-bx">
                                                <img src={{token.tokenImage}} class="img-fluid" alt="">
                                            </div>
                                        </div>
                                         <div class="card-content ">
                                        <div class="my-head-h">
                                            <h5 class="category">{{token.tokenTicker}}</h5>
                                            <h3 class="card-title  card-new-title">{{token.tokenName}}</h3>
                                        </div>
                                        
                                        <div class="k-rate-list">
                                            <div class="row">
                                                <div class="k-my-rate-a pull-left">
                                                    <h6>Rate</h6></div>
                                                <div class="k-my-rate-b pull-right">
                                                    <h6>Market cap</h6></div>
                                            </div>
                                            <div class="row">
                                                <div class="k-my-rate-light-a pull-left">
                                                    <h6>{{token.tokenRate ? token.tokenRate :'--'}}</h6></div>
                                                <div class="k-my-rate-light-b pull-right">
                                                    <h6>{{token.tokenSupply ? token.tokenSupply :'--'}}</h6></div>
                                            </div>
                                        </div>
                                        <div *ngIf="allStatus">
                                        <div class="price prc" *ngIf="token.ongingToken">
                                            <h4 > 
                                            <div class="timemrgin" id="demo{{i+1+'a'}}"></div> </h4>             
                                        </div> 
                                        <div *ngIf="token.upcommingToken">
                                        <button class="btn btn-success btn-thumbnail btn-sm font-weight-bold" (click)="view_ICO(token.id)">View</button>    
                                        <button class="btn btn-success btn-thumbnail crwdbtn" style="margin-top: 0;">Upcoming</button>
                                        </div>
                                        <div >
                                        <button class="btn btn-success btn-thumbnail viewbtn" (click)="view_ICO(token.id)" *ngIf="token.ongingToken" >View</button>
                                    </div>
                                        <p  class="btn btn-danger btn-thumnail crwdbtn " *ngIf="token.completeToken" >Crowdsale Completed</p>
                                        </div>

                                        <div *ngIf="ongoingStatus">
                                         <div class="price prc"  *ngIf="token.ongingToken">
                                            <h4> 
                                            <div class="timemrgin" id="demo{{i+1+'o'}}"></div> </h4>             
                                        </div> 
                                        <button class="btn btn-success btn-thumnail viewbtn" (click)="view_ICO(token.id)" *ngIf="token.ongingToken">View</button>
                                      </div>

                                        <div *ngIf="upcommingStatus"> 

                                        <button class="btn btn-success btn-round" (click)="view_ICO(token.id)">View</button>       <br> 
                                        <button class="btn btn-success btn-thumbnail viewbtn ng-star-inserted" id="upbtn" >Upcoming</button>
                                      </div>
                                      <div *ngIf="expierStatus">       
                                                               
                                        <button class="btn btn-danger btn-thumnail crwdbtn">Crowdsale Completed</button>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
             <div class="col-md-12 text-center" style="margin-top: 20px;"  *ngIf="seemoreall">
                <div class="showmrshow">
                    <button class="btn btn-success" (click)="seeMore()">
                        <span class="btn-label"></span> See More
                    </button>
                </div>
            </div>
                </div>
            </div>
      
        </div>
       
    </div>
    
    <div class="geinlist card text-center ">
        <div class="container-fluid">
            <div class="row centerr " style="margin: 0 0 30px 0; ">
                <div class="col-md-10 ">
                    <h2 class="title animated fadeInDown ">Generate. List. Invest.</h2>
                    <h4 class="description animated fadeInDown ">Kryptual is a automated wizard for blockchain based ICO-creation platform connecting business owners with investors. Kryptual wanted to simplify ICO-creation, listing and raising process for business owners. Kryptual makes business owners
                        life easy. Kryptual helps them in raising funds to grow their businesses and focus on their trade strength.</h4>
                </div>
            </div>
            <div class="row animated slideInLeft ">
                <div class="col-md-4 ">
                    <div class="info info-hover ">
                        <div class="icon icon-primary ">
                            <img src="../assets/img/live.png " style="width: 15%; ">
                        </div>
                        <h4 class="info-title ">Create Your ICO</h4>
                        <p class="description ">Now anyone can create an ERC-20 token with Kryptual in less than 3 minutes</p>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="info info-hover ">
                        <div class="icon icon-success ">
                            <img src="../assets/img/global.png " style="width: 15%; ">
                        </div>
                        <h4 class="info-title ">Empowering Ecosystem</h4>
                        <p class="description ">Built with highest security standards, we bring to users the entire ecosystem at one place</p>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="info info-hover ">
                        <div class="icon icon-warning ">
                            <img src="../assets/img/enhance.png " style="width: 15%; ">
                        </div>
                        <h4 class="info-title ">Invest In Verified ICOs</h4>
                        <p class="description ">Now invest in the leading scrutinised and audited ICO calls</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-vi card " style="background-image: url(./assets/img/bc-img1.jpg); ">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="row ">
                        <div class="col-md-6 ">
                            <iframe src="https://www.youtube.com/embed/IjB-n35zQXQ?rel=0 " width="560 " height="315 " frameborder="0 " webkitallowfullscreen mozallowfullscreen allowfullscreen>
                            </iframe>
                        </div>
                        <div class="col-md-6 ml-auto mr-auto text-right animated slideInRight ">
                            <h2 class="title ">Revolutionized Fund-Raising</h2>
                            <h4 class="description ">Kryptual provides a one stop solution for everything related to ICOs such as buying, selling, listing of tokens, in a quick and easy way.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
<!-- *ngIf="token.upcommingToken" -->