<div class="main-content home-pg">
 
        <div class="main-home">
                <app-header></app-header>
            <div class="crdfunding text-center pt-5">
                <img src="assets/img/newstyle-01.svg" alt="" class="img-fluid">
            </div>
       <app-banner></app-banner>
    </div>
    <div class="tkn-list  text-center" id="tokenDiv">
        <div class="container-fluid" style="padding-left: 0.1px;padding-right: 0.1px;">
            <div class="row centerr" style="margin: 0 0 30px 0;">
                <div class="col-md-12">
                    <div class="nav-center">
                        <ul class="nav nav-pills nav-pills-info nav-pills-icons" role="tablist">
                            <li class="active">
                                <a role="tab" data-toggle="tab" (click)="all()" style="cursor:pointer;">
                                               All
                                </a>
                            </li>
                            <li>
                                <a role="tab" data-toggle="tab" (click)="onGoing()" style="cursor:pointer;">
                                                Ongoing
                                           </a>
                            </li>
                            <li>
                                <a role="tab" data-toggle="tab" (click)="upCommings()" style="cursor:pointer;">
                                                Upcoming
                               </a>
                            </li>
                            <li>
                                <a role="tab" data-toggle="tab" (click)="expier()" style="cursor:pointer;">
                                                Expired
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row d-block" >
                <div id="loader1" class="col-md-12 text-center" ><img src="./assets/img/orange_circles.gif" class="img-fluid" style="width:500px;">
                </div>
                <div class="col-md-12 text-center" *ngIf="noToken1">
                    <img src="assets/img/No-token-Found.png" alt="Error" class="img-fluid" style="width:500px;">
                </div>
                <div class="col-md-12 ">
                    <div class="pricing-page ">
                        <div class="row animated fadeInLeft ">
                            <div class="col-md-3 col-sm-6" *ngFor="let token of tokensList; let i=index">

                                <div class="card card-pricing card-raised" style="margin-top: 0;height: 345px;">
                                   
                                        <div class="img-bx icon-rose">
                                            <div class="img-in-bx">
                                                <img src={{token.tokenImage}} class="img-fluid" alt="">
                                            </div>
                                        </div>
                                         <div class="card-content ">
                                        <div class="my-head-h">
                                            <h5 class="category">{{token.tokenTicker}}</h5>
                                            <h3 class="card-title  card-new-title">{{token.tokenName}}</h3>
                                        </div>
                                        
                                        <div class="k-rate-list">
                                            <div class="row">
                                                <div class="k-my-rate-a pull-left">
                                                    <h6>Rate</h6></div>
                                                <div class="k-my-rate-b pull-right">
                                                    <h6>Market cap</h6></div>
                                            </div>
                                            <div class="row">
                                                <div class="k-my-rate-light-a pull-left">
                                                    <h6>{{token.tokenRate ? token.tokenRate :'--'}}</h6></div>
                                                <div class="k-my-rate-light-b pull-right">
                                                    <h6>{{token.tokenSupply ? token.tokenSupply :'--'}}</h6></div>
                                            </div>
                                        </div>
                                    <!-- Start All Tab -->
                                    <div *ngIf="allStatus">
                                        <div class="price prc " *ngIf="token.ongingToken">
                                            <h4 > 
                                            <div class="timemrgin" id="demo3{{i+1+'a'}}"></div> </h4>             
                                        </div> 
                                        <div *ngIf="token.upcommingToken">
                                        <div class="price prc" (click)="view_ICO(token.id)" *ngIf="!token.ongingToken"><h4 class="text-danger">Crowdsale Completed</h4></div> 
                                        <button class="btn btn-info btn-thumbnail crwdbtn" style="margin-top: 0;" (click)="view_ICO(token.id)">Upcoming</button>
                                        </div>
                                        <div >
                                          <button class="btn btn-info btn-thumbnail viewbtn" (click)="view_ICO(token.id)" *ngIf="token.ongingToken" >View</button>
                                        </div>
                                        <div class="price prc" (click)="view_ICO(token.id)" *ngIf="!token.ongingToken"><h4 class="text-danger">Crowdsale Completed</h4></div> 
                                        <p  class="btn btn-info btn-thumbnail crwdbtn" *ngIf="token.completeToken" (click)="view_ICO(token.id)">View</p>
                                    </div>
                                  
                                     <!-- Start Ongoing tab -->
                                    <div *ngIf="ongoingStatus">
                                         <div class="price prc"  *ngIf="token.ongingToken">
                                            <h4> 
                                            <div class="timemrgin" id="demo3{{i+1+'o'}}"></div> </h4>             
                                        </div> 
                                        <button class="btn btn-info btn-thumnail viewbtn" (click)="view_ICO(token.id)" *ngIf="ongoingStatus">View</button>
                                    </div>
                                     

                                     <!-- Start Upcomming Tab -->
                                        <div *ngIf="upcommingStatus"> 

                                        <div class="price prc" (click)="view_ICO(token.id)" *ngIf="upcommingStatus"><h4 class="">Upcoming</h4></div>
                                      
                                        <button class="btn btn-info btn-thumbnail crwdbtn" id="upbtn" (click)="view_ICO(token.id)">View</button>
                                      </div>
                                      

                                      <!-- Start Expire Status -->
                                     
                                      <div *ngIf="expierStatus">       
                                          <div class="price prc" (click)="view_ICO(token.id)" *ngIf="!token.ongingToken"><h4 class="text-danger">Crowdsale Completed</h4></div>                     
                                        <button class="btn btn-info btn-thumbnail crwdbtn" (click)="view_ICO(token.id)">View</button>
                                      </div>

                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
             <div class="col-md-12 text-center" style="margin-top: 20px;"  *ngIf="seemoreall">
                <div class="showmrshow">
                    <button class="btn btn-info" (click)="seeMore()" scrollTo href="#tokenDiv">
                        <span class="btn-label"></span> See More
                    </button>
                </div>
            </div>
                </div>
            </div>
      
        </div>
       
    </div>
    
    <div class="geinlist card text-center ">
        <div class="container-fluid">
            <div class="row centerr " style="margin: 0 0 30px 0; ">
                <div class="col-md-10 ">
                    <h2 class="title animated fadeInDown ">Generate. List. Invest.</h2>
                    <h4 class="description animated fadeInDown ">Kryptual is a automated wizard for blockchain based ICO-creation platform connecting business owners with investors. Kryptual wanted to simplify ICO-creation, listing and raising process for business owners. Kryptual makes business owners
                        life easy. Kryptual helps them in raising funds to grow their businesses and focus on their trade strength.</h4>
                </div>
            </div>
            <div class="row animated slideInLeft ">
                <div class="col-md-4 ">
                    <div class="info info-hover ">
                        <div class="icon icon-primary w-100 float-left h-50">
                            <img src="../assets/img/live.png " >
                        </div>
                        <h4 class="info-title ">Create Your ICO</h4>
                        <p class="description ">Now anyone can create an ERC-20 token with Kryptual in less than 3 minutes</p>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="info info-hover ">
                        <div class="icon icon-info w-100 float-left h-50">
                            <img src="../assets/img/global.png " >
                        </div>
                        <h4 class="info-title ">Empowering Ecosystem</h4>
                        <p class="description ">Built with highest security standards, we bring to users the entire ecosystem at one place</p>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="info info-hover ">
                        <div class="icon icon-warning w-100 float-left h-50">
                            <img src="../assets/img/enhance.png " >
                        </div>
                        <h4 class="info-title ">Invest In Verified ICOs</h4>
                        <p class="description ">Now invest in the leading scrutinised and audited ICO calls</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-vi card " style="background-image: url(./assets/img/bc-img1.jpg); ">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="row ">
                        <div class="col-lg-6 col-md-12 centerr">
                            <iframe src="https://www.youtube.com/embed/IjB-n35zQXQ?rel=0 " width="560 " height="315 " frameborder="0 " webkitallowfullscreen mozallowfullscreen allowfullscreen>
                            </iframe>
                        </div>
                        <div class="col-lg-6 col-md-12 text-right  animated slideInRight ">
                            <h2 class="title ">Revolutionized Fund-Raising</h2>
                            <h4 class="description ">Kryptual provides a one stop solution for everything related to ICOs such as buying, selling, listing of tokens, in a quick and easy way.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
<!-- *ngIf="token.upcommingToken" -->